*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background: blueviolet;
}
.container{
    border: 2px solid red;
    width: 800px;
    height: 400px;
    margin: 30px auto;

    /* flexbox stuf is appliad to a contsiner */
    display: flex; 
    /* flex box is an one dimentional layout */
    /* flex-direction: row; */

    /* flex-direction: row-reverse; */
    /* default flex direction is row */

    /* justify-content: center;  */
/* justify content works horizontally */
    /* justify-content: space-around; */

    /* flex-wrap: wrap; */
    /* align-items: center; it works on cross axis or verticle  */
    /* align-items: flex-end; */
  
/* ALIGN CONTENT */
    /* align contents , it isc used with flex wrap */
/* flex-wrap: wrap; */

/* align-content: center; */
}
.container .child{
    width: 50px;
    height: 50px;
    background-color: crimson;
    text-align: center;
    margin: 5px;
    width: 400px;

}


.special{
    /* order: 1; */

    /* align-self: flex-end;  it is used to align a single item */

    /* flex-grow:  2; */
    /* grow the size of a single element */
/* flex-basis: 20px; */
flex-shrink: 2;
}

.special-two{
    /* order: 2; */
    /*high specificity  */
    /* flex-grow: 5; */
    /* flex-basis: 100px; */
 } 