.link:link{
    color: orange;
    /* color changes once visited  */
}
.visited:visited{
    color: green;
}

.hover:hover{
    color: aqua;
}
.active:active{
    color: rgb(222, 135, 181);
}
/* ********************** */
div{
    background-color: crimson;
    width: 200px;
    height: 200px;
}
span{
    background-color: teal;
    width: 200px;
    height: 200px;
    display: inline-block;
    /* by default span is inline and div is block */
}
.fa-brands{
    color: blue;
    
}

/* shadows in css */
/* syntax
 x,y,blurness,color
   */
div{
    width: 200px;
    height: 200px;
    background-color: rgb(152, 152, 219);
    box-shadow: 3px 5px 3px rgb(219, 157, 41) ;
}
h1{
    text-shadow: 5px 5px 5px rgb(10, 242, 10);
}
/* CSS INHERITANCE */
/* 
Inheritance is when we declare something on an element, 
and it applies that elements decendant

only typography will be inherited 

color, font
layout will not be inherited

*/

.parent{
    color: orange;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    width: 100px;
    height: 100px;
    background: teal;
}
.children{
    position: relative;
    left: 100px;
}
/*     layout and positions */
.container{
    background: grey;
    width: 90%;
    height: 400px;
}

.d{
height: 100px;
font-weight: 100px;
}

.one{
background: green;
position: relative;
left: 100px;
/* it does not leaves its place */
}
.two{
    background: red;
    position: absolute;
    left: 200px;
    /* it will leave its place  */
}
.three{
    background: blue;
    /* position: fixed; */
    /* left: 200px; */
    position: sticky;
    top: 100px;

}