/* transform */

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TRANSFORMATION IN CSS */

/* .container > div{
    width: 300px;
    height: 300px;
    background-color: cyan; */
    /* move in y axis */
    /* transform: translateY(200px);
    transform: translateX(200px); */
    /* transform: translate(100px, 100px); */
    /* transform: translate(x axis, y axis); */
    /* transform: rotate(50deg);
    transform: scale(2); */
    /*  transform: scale(value); increases the entire size */
    /*  transform: scale(x,y); increases in x and y axis  */
    /* transform: scale(1.5,2.7); */
    /* transform: skew(50deg); */
 
/* } */


/* TRANSITIONS IN CSS */

/* .container > a {
    text-decoration: none;
    border: 2px solid green ;
    padding: 10px 20px;
    color: brown;
    /*  transition */
    /* transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;

} */ 

 
/* .container > a:hover{
    background-color: brown;
    color: white;
} */


/* ANIMATIONS IN CSS */
.container > div{
    width: 300px;
    height: 300px;
    background-color: darkblue;
    /* Animations */    
    /* animations require keyframe  */
    animation-name: InAndOut;
    animation-duration: 4s;
    animation-iteration-count: 5;
    /* animation-iteration-count: infinite; this will run for infinite time */
    animation-timing-function: ease-in;

}



/* give any name to keyframe */
@keyframes InAndOut{
0%{
    transform: scale(2);
}

25%{
    transform: scale(0.5%);
    background-color: teal;
    transform: skew(10deg);

}

50%{
    background-color: blue;
    transform: skew(40deg);
    border-radius: 50%;
}
}