
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

:root{
  --main-color: rgb(216, 130, 38);
  --primary-color: rgba(93, 23, 23, 0.254);
}

/* utility styles */
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}
/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(56, 49, 49);
}