
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

:root{
  --main-color: rgb(216, 130, 38);
  --primary-color: rgba(93, 23, 23, 0.254);
}

/* utility styles */
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}
/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(56, 49, 49);
}
/* Nav Start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: sans-serif;
    padding-top: 15px;
}

li{
    display: inline;
    list-style: none;




}

li a{
   color: white; 
   text-decoration: none;
   margin-left: 40px;
   padding-left: 10px;

}

li a:hover{
    border-bottom: 2px solid var(--main-color);
}

/* NAV END */



/* HEADER START */


.header{
    background: url(pexels-nao-triponez-129207\ \(1\).jpg);
    background-position: center ;
    background-size: cover;
    height: 100vh;
    font-family: 'Playfair Display' , serif ;
    font-weight: normal;

    /* flex box */
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    text-align: center;
}


.main-headings{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
   

}



.primary-heading{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;

}

.main-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(60px);
}
/* OUR STORY START */
#our-story{
    /* height: 100vh; */
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 400px;
    height: 400px;
    background: url(pexels-chitokan-2183027-removebg-preview\ \(1\).png);
    background-position: center ;
    background-size: cover;
}

.title-style{
    display: flex;
    align-items: center;

}

.title{
    font-family:  'Playfair Display' , serif ;
    font-size: 4rem;
    color: white;
    transform: translateX(-100px);
}


.line{
    width: 100px;
    height: 2px;
    background: white;
    transform: translateX(-120px);

}

.section-content p {
    max-width: 500px;
    color: white;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;

}
/* OUR STORY END */

/* COFFEE START */

.coffee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}



.img-2{
    width: 400px;
    height: 400px;
}

.title-two{
    font-size: 3rem;
    color: white;
    font-family:  'Playfair Display' , serif ;
}

.content-section{
    max-width: 500px ;
    margin-top: 20px;
    font-family: sans-serif;
    color: white;
}
/* coffee start end */


.products{
    margin-top: 5rem;

}

.title-three{
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

